.mainbox{
    width:100%;
    height:600px;
}
.carousel-image{
    width:100%;
    height: 600px;
}
/* * *****************Media Quries for medium devices***************** * */
@media screen and (max-width:1024px) {
   .mainbox{
    width: 100%;
    height: 500px;
   }
   .carousel-image{
    width:100%;
    height: 300px;
}
}
/* * *****************Media Quries for Small devices***************** * */
@media screen and (max-width:600px) {
    .mainbox{
        width: 100%;
        height: 500px;
       }
       .carousel-image{
        width:100%;
        height: 300px;
    }
    
}